<hr>

<div>
  <label>Slideshow Name:</label> 
  <input #slideshowName placeholder="Slideshow Name" />
  <button (click)="createSlideshow(slideshowName.value); slideshowName.value=''">
    Create Slideshow
  </button>
</div>
<button style="opacity:0" (click)="deleteAll()">NUKE! </button>
<hr>

<ul class="slideshow-list">
  <li *ngFor="let slideshow of slideshows | async"
      [class.selected]="slideshow === selectedSlideshow"
      (click)="onSelect(slideshow)"
  >
    <span class="badge">{{slideshow.id}}</span> {{slideshow.name}}
  </li>
</ul>

<div *ngIf="selectedSlideshow">
  <h2>
    {{selectedSlideshow.name | uppercase}}
  </h2>
  <div>
    <label>Slide Name:</label> 
    <input #slidename placeholder="Slide Name" />
    <button (click)="createSlide(slidename.value); slidename.value=''">
      Create Slide
    </button>
  </div>  
  <ul class="slideshow-slides-list">
      <li *ngFor="let slide of slides | async">
          <img src="{{slide.preview}}" />
          <p>{{slide.index}}</p>
          <input type="text" #updatename [value]="slide.name" />
          <button (click)="deleteSlide(slide.$key, slide)">Delete</button>
          <button (click)="updateSlide(slide.$key, updatename.value)">Update</button>
          <input type="file" (change)="addImageToSlide( $event, slide.$key , slide)"/>
      </li>
  </ul>
  
</div>
