<hr>

<div>
  <label>Slideshow Name:</label> 
  <input #slideshowName placeholder="Slideshow Name" />
  <button (click)="createSlideshow(slideshowName.value); slideshowName.value=''">
    Create Slideshow
  </button>
</div>

<hr>

<ul class="slideshow-list">
  <li *ngFor="let slideshow of slideshows | async"
      [class.selected]="slideshow === selectedSlideshow"
      (click)="onSelect(slideshow)"
  >
    <span class="badge">{{slideshow.id}}</span> {{slideshow.name}}
  </li>
</ul>

<div *ngIf="selectedSlideshow">
  <h2>
    {{selectedSlideshow.name | uppercase}}
  </h2>
  <div>
    <label>Slide Name:</label> 
    <input #slidename placeholder="Slide Name" />
    <button (click)="createSlide(slidename.value); slidename.value=''">
      Create Slide
    </button>
  </div>  
  <ul>

      <li *ngFor="let slide of slides | async">
          <p>{{slide.index}}</p>
          <input type="text" #updatename [value]="slide.name" />
          <button (click)="deleteItem(slide.$key)">Delete</button>
          <button (click)="updateItem(slide.$key, updatename.value)">Update</button>
          <input type="file" (change)="addImage( $event, slide.$key )"/>
          <img src="{{slide.url}}" />
      </li>
  </ul>
</div>